* {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(221, 132, 132);
}
.spinner {
    width: 100px;
    height: 100px;
    margin: 300px auto;
    border: 10px solid aliceblue;
    border-top: 10px solid rgb(66, 92, 197);
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}
@keyframes spin {
    from {
        transform: rotate(0deg);

    }
    to {
        transform: rotate(360deg);
    }
}
