* {
    box-sizing: border-box;
}
.icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url('./img_avatar.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: 5px solid white;
    margin: auto;
    animation: icon 4s linear infinite;
}
body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* background-color: rgb(185, 156, 212); */
    background: linear-gradient(to right,DeepSkyBlue, blue);
}
@keyframes icon {
    0% {
        transform: translateY(0);
        box-shadow: 5px 5px 5px 5px rgba(74, 74, 5, 0.7);
    }
    50% {
        transform: translateY(-40px);
        box-shadow: 5px 5px 5px 5px rgba(74, 74, 5, 0.7);
    }
    100% {
        transform: translateY(0);
    }
}
p {
    font-size: 34px;
    font-weight: 600;
    position: relative;
    bottom: 30%;
}