* {
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0 100px;
    background-color: aqua;
}
header, .container, footer {
    background-color:white;
}
header, .container {
    padding: 0 25px;
}
img {
    vertical-align: middle;
    border-style: none;
    width: 80px;
}
header > div {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-list-link {
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
    width: 350px;
}
li {
    list-style: none;
    justify-content: space-around;
}
a {
    text-decoration: none;
    color: black;
}
.nav-link{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
}
.nav-link:hover {
    color: black;
}
.nav-link:active {
    animation: nav-link 0s forwards;
}
@keyframes nav-link {
    to {
        color: #000;
    }
}
.navbar-brand {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: black;
}
/* body */
.container-content {
    height: 130px;
    line-height: 130px;
    font-size: 28px;
    padding-left: 10px;
}
.list-content {
    height: 60px;
}
.list-content > a {
    padding: 8px 16px;
    border: 2px solid rgba(245, 7, 7, 0.5);
    border-radius: 4px;
    margin: 10px;
    color: rgba(245, 7, 7, 0.5);
    font-weight: 500;
    font-size: 16px;
}
.list-content > a:hover {
    background-color: green;
    color: white;
}
.list-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: center; */
    gap: 30px;
}
.card {
    width: 400px;
}
.card-img {
    min-width: 100%;
    transition: all 1s;
    transform-origin: center 0;
    
}
.container {
    padding-bottom: 100px;
}

figure {
    position: relative;
}
figcaption {
    position: absolute;
    color: rgb(246, 246, 246);
    width: 70%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.3);
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    align-items: center;
    transform-origin: center;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    top: 20%;
    left: 15%;
    opacity: 0;
}
.h4 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
}
.card:hover .card-img {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(59, 10, 182, 0.5);
}
.card:hover figcaption {
    animation: figcap 0.5s linear forwards;
    transform-origin: center;
}
@keyframes figcap {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* footer */
.container-footer {
    height: 200px;
    background-color: antiquewhite;
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
}
.container-footer > p {
    padding-top: 10px;
}
.credit {
    color: blueviolet;
}
/*image-detail*/
.card-detail, .card-detail.card-img1 {
    width: 100%;
}
.card-detail {
    padding-bottom: 20px;
}
.detail-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0 30px 0 20px;
}
.detail-content {
    display: flex;
    line-height: 30px;
    font-size: 20px;
}
.detail-content-1 {
    width: 700px;
}
.detail-content-1 > p {
    font-size: 24px ;
    font-weight: 500;
}
.detail-content-1 > a {
    display: inline-block;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: #917c55;;
    color: beige;
    font-weight: 700;
    padding: 2px 5px;
    line-height: 1.2;
}
.detail-content-1 > p:last-child {
    font-size: 18px;
    font-weight: 400px;
}