button {
    width: 200px;
    height: 100px;
    font-size: 24px;
    /* transition: all 4s; */
}
div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 150px;
}
button:nth-child(1):hover {
    background-color: blue;
    color: blanchedalmond;
    /* transition: 2s; */
}
button:nth-child(2):hover {
    background-color: blue;
    /* transition: 2s; */
    transform: scaleX(1.5);
}
button:nth-child(3):hover {
    background-color: blue;
    transform: rotate(360deg);
    /* transition: 2s;  */
}
button:nth-child(4):hover {
    background-color: blue;
    /* transition: 4s;  */
    transform: translateY(-480px);
    box-shadow: 10px 10px 10px rgba(104, 38, 7, 0.5);
}