* {
    box-sizing: border-box;
    margin: 0;
    font-size: 100px;
}
#box3 {
    width: 480px;
    border: 2px solid blue;
    padding-left: 24px;
    margin-left: 100px;
}
#box1 {
    border: 2px solid red;
    padding: 0 64px;
    display: inline-block;
}
#box2 {
    display: inline-block;
    margin-left: 36px;
    border: 2px solid black;
    padding: 36px 24px;
}
.box1_box2 {
    margin: 50px 0 48px 100px;
}
span {
    text-transform: uppercase;
    font-weight: 700;
}
